<footer class="footer" id="contacts">
   <div class="container element-animation">
      <div class="footer-info">
         <a class="logo-link" href="./index.html">
            <svg class="logo-icon icon" width="123" height="16">
               <!-- UPDATE LOGO SVG SPRITE -->
               <use href="./img/icons.svg#logo"></use>
            </svg>
         </a>
         <address>
            <a class="footer-info-contacts link-nav" href="tel:+380665438912">
               UK: +38 066 543 8912
            </a>
            <p class="footer-info-contacts">Ukraine, Kyiv</p>
         </address>
      </div>

      <div class="footer-nav">
         <ul class="footer-nav-list">
            <li>
               <a class="link-nav" href="https://www.instagram.com/goitclub/" target="_blank">
                  Instagram
               </a>
            </li>
            <li>
               <a class="link-nav" href="https://www.facebook.com/goITclub/" target="_blank">
                  Facebook
               </a>
            </li>
            <li>
               <a class="link-nav" href="https://www.youtube.com/c/GoIT" target="_blank">
                  YouTube
               </a>
            </li>
         </ul>
         <ul class="footer-nav-list">
            <li>
               <a href="#about" class="link-nav">About us</a>
            </li>
            <li>
               <a href="#courses" class="link-nav"> Our courses </a>
            </li>
            <li>
               <a href="#mentors" class="link-nav"> Our mentors </a>
            </li>
            <li>
               <a href="#reviews" class="link-nav">Reviews</a>
            </li>
            <li>
               <a href="#contacts" class="link-nav">contacts</a>
            </li>
         </ul>
      </div>

      <div class="footer-form">
         <form class="contact-form" name="contact_form">
            <label for="contact-info" class="contact-label">
               <input class="contact-input" type="email" name="contact-info" placeholder="Enter your email" id="contact-info" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" />
            </label>
            <button class="contact-btn button" type="submit">Go</button>
         </form>
      </div>

      <div class="footer-credentials">
         <div class="footer-credentials-container">
            <a href="#" class="footer-privacy-link link-nav"> Privacy Policy</a>
            <a href="#" class="footer-privacy-link link-nav">
               Public Offering Agreement
            </a>
         </div>
         <div class="footer-credentials-container">
            <p class="footer-copyright">
               2023 Focus Frame &#169; All rights reserved
            </p>
         </div>
      </div>
   </div>
</footer>