<header>
   <div class="container">

      <nav class="">
         <ul class="ficsed">
            <li class=""><a href="#1" class="">1</a></li>
         </ul>
         <ul class="">
            <li class=""><a href="#2" class="">2</a></li>
         </ul>
         <ul class="">
            <li class=""><a href="#3" class="">3</a></li>
         </ul>
         <ul class="">
            <li class=""><a href="#4" class="">4</a></li>
         </ul>
         <ul class="">
            <li class=""><a href="#5" class="">5</a></li>
         </ul>
      </nav>

      <!-- Кнопка на відкриття бургер меню на іконку клас js-open-menu не приберати-->
      <button class="js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
         <svg class="" width="" height="">
            <use href=""></use>
         </svg>
      </button>
   </div>
</header>