<header class="header">
   <div class="container header-container">
      <nav class="header-nav">
         <a href="index.html" class="header-logo-link">
            <svg width="123" height="16" class="header-logo-icon">
               <use href="./img/icons.svg#logo"></use>
            </svg>
         </a>

         <div class="header-button-container">
            <ul class="header-nav-list">
               <li>
                  <a href="#about" class="link-nav header-nav-link">About us</a>
               </li>
               <li>
                  <a href="#courses" class="link-nav header-nav-link">Our courses</a>
               </li>
               <li>
                  <a href="#mentors" class="link-nav header-nav-link">Our mentors</a>
               </li>
               <li>
                  <a href="#reviews" class="link-nav header-nav-link">Reviews</a>
               </li>
               <li>
                  <a href="#contacts" class="link-nav header-nav-link">contacts</a>
               </li>
            </ul>
            <a href="#sign" class="header-singup-link">
               <span class="header-singup-title">Sign up</span>
               <svg width="16" height="16" class="header-singup-icon">
                  <use href="./img/icons.svg#icon-camera"></use>
               </svg>
            </a>
            <button class="js-open-menu header-nav-button" aria-expanded="false">
               <svg class="header-nav-icon" width="32" height="22">
                  <use href="./img/icons.svg#icon-menu"></use>
               </svg>
            </button>
         </div>
      </nav>
      <!-- Кнопка на відкриття бургер меню на іконку клас js-open-menu не приберати-->
   </div>
</header>