<header>
  <div class="container">
    <nav class="header-nav">
      <a href="../index.html">
        <svg width="123" height="16">
          <use href="../img/icons.svg#logo"></use>
        </svg>
      </a>
      <ul class="">
        <li class=""><a href="" class="link-nav">About us</a></li>
        <li class=""><a href="" class="link-nav">Our courses</a></li>
        <li class=""><a href="" class="link-nav">Our mentors</a></li>
        <li class=""><a href="" class="link-nav">Reviews</a></li>
        <li class=""><a href="" class="link-nav">contacts</a></li>
      </ul>
    </nav>

    <!-- Кнопка на відкриття бургер меню на іконку клас js-open-menu не приберати-->
    <a href="" class="singup-link">
      <span class="singup-title">Sign up</span>
      <svg width="16" height="16" class="singup-icon">
        <use href="../img/icons.svg#icon-camera"></use>
      </svg>
    </a>
    <button
      class="js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="" width="32" height="22">
        <use href="../img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
