<section class="section">
  <div class="container"></div>
</section>
<section class="container mentors-section">
  <h2 class="mentors-section-title">
    Our <span class="mentors-span">Mentors</span>
  </h2>
  <ul class="mentors-section-list list">
    <li class="mentors-section-item">
      <div class="mentor-info">
        <img
          srcset="./images/emilia@1x.jpg 1x, ./images/emilia@2x.jpg 2x"
          src="./images/emilia@1x.jpg"
          alt="Emilia`s photo"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentor-name">Emilia Smith</h3>
        <p class="mentor-experience">1.5 years of experience</p>
      </div>
    </li>
    <li class="mentors-section-item">
      <div class="mentor-info">
        <img
          srcset="./images/alex@1x.jpg 1x, ./images/alex@2x.jpg 2x"
          src="./images/alex@1x.jpg"
          alt="Alex`s photo"
          width="180"
          height="180"
          loading="lazy"
        />

        <h3 class="mentor-name">Alex Lebedev</h3>
        <p class="mentor-experience">3.5 years of experience</p>
      </div>
    </li>
    <li class="mentors-section-item">
      <div class="mentor-info">
        <img
          srcset="./images/mia@1x.jpg 1x, ./images/mia@2x.jpg 2x"
          src="./images/mia@1x.jpg"
          alt="Mia`s photo"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentor-name">Mia Dubrovska</h3>
        <p class="mentor-experience">2.0 years of experience</p>
      </div>
    </li>
    <li class="mentors-section-item">
      <div class="mentor-info">
        <img
          srcset="./images/eliot@1x.jpg 1x, ./images/eliot@2x.jpg 2x"
          src="./images/eliot@1x.jpg"
          alt="Eliot`s photo"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentor-name">Eliot Kovalev</h3>
        <p class="mentor-experience">4.0 years of experience</p>
      </div>
    </li>
  </ul>
</section>
