<section class="section">
  <div class="our-mentors container">
    <h2 class="mentors-section-title title">Our <span>Mentors</span></h2>
    <ul class="mentors-section-list">
      <li class="mentors-section-item">
        <div>
          <picture>
            <!-- Mobile screen picture-->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/mentors/mentors-1.jpg    1x,
                ./img/mentors/mentors-1@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="mentor-img"
              src="./img/mentors/mentors-1.jpg"
              alt="Emilia`s photo"
              width="180"
              height="180"
              loading="lazy"
            />
          </picture>
          <h3 class="mentor-name">Emilia Smith</h3>
          <p class="mentor-experience">1.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-section-item">
        <div class="mentor-info">
          <picture>
            <!-- Mobile screen picture-->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/mentors/mentors-2.jpg    1x,
                ./img/mentors/mentors-2@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="mentor-img"
              src="./img/mentors/mentors-2.jpg"
              alt="Emilia`s photo"
              width="180"
              height="180"
              loading="lazy"
            />
          </picture>
          <h3 class="mentor-name">Alex Lebedev</h3>
          <p class="mentor-experience">3.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-section-item">
        <div class="mentor-info">
          <picture>
            <!-- Mobile screen picture -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/mentors/mentors-3.jpg    1x,
                ./img/mentors/mentors-3@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="mentor-img"
              src="./img/mentors/mentors-3.jpg"
              alt="Emilia`s photo"
              width="180"
              height="180"
              loading="lazy"
            />
          </picture>
          <h3 class="mentor-name">Mia Dubrovska</h3>
          <p class="mentor-experience">2.0 years of experience</p>
        </div>
      </li>
      <li class="mentors-section-item">
        <div class="mentor-info">
          <picture>
            <!-- Mobile screen picture-->
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/mentors/mentors-4.jpg    1x,
                ./img/mentors/mentors-4@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="mentor-img"
              src="./img/mentors/mentors-4.jpg"
              alt="Emilia`s photo"
              width="180"
              height="180"
              loading="lazy"
            />
          </picture>
          <h3 class="mentor-name">Eliot Kovalev</h3>
          <p class="mentor-experience">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
