<!-- Modal menu -->
<!-- Класи js-menu-container. js-close-menu. та  id="mobile-menu не приберати-->
<div class="backdrop js-menu-container is-hidden">
  <div class="mobile-menu">
    <button class="js-close-menu close-button">
      <svg class="menu-close-icon" >
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mobile-menu-list">
      <li class="">
        <a class="mob-menu-link" href="">About us</a>
      </li>
      <li class="">
        <a class="mob-menu-link" href="">Our courses</a>
      </li>
      <li class="">
        <a class="mob-menu-link" href="">Our mentors</a>
      </li>
      <li class="">
        <a class="mob-menu-link" href="">Reviews</a>
      </li>
      <li class="">
        <a class="mob-menu-link" href="">contacts</a>
      </li>
    </ul>
  </div>
</div>
