<!-- Modal menu -->
<!-- Класи js-menu-container. js-close-menu. та  id="mobile-menu не приберати-->
<div class="backdrop js-menu-container is-hidden">
  <div class="mobile-menu">
    <button class="js-close-menu close-button">
      <svg class="menu-close-icon" width="32px" height="32px">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mobile-menu-list">
      <li class="mob-menu-item">
        <a class="link-nav mob-menu-link" href="#about">About us</a>
      </li>
      <li class="mob-menu-item">
        <a class="link-nav mob-menu-link" href="#courses">Our courses</a>
      </li>
      <li class="mob-menu-item">
        <a class="link-nav mob-menu-link" href="#mentors">Our mentors</a>
      </li>
      <li class="mob-menu-item">
        <a class="link-nav mob-menu-link" href="#reviews">Reviews</a>
      </li>
      <li class="mob-menu-item">
        <a class="link-nav mob-menu-link" href="#footer">contacts</a>
      </li>
    </ul>
  </div>
</div>
