<!-- Modal menu -->
<!-- Класи js-menu-container. js-close-menu. та  id="mobile-menu не приберати-->
<div class=" js-menu-container" id="mobile-menu">
   <button class=" js-close-menu ">
      <svg class="" width="" height="">
         <use href=""></use>
      </svg>
   </button>

   <ul class="">
      <li class="">
         <a href="" class=""></a>
      </li>
      <li class="">
         <a href="" class=""></a>
      </li>
      <li class="">
         <a href="" class=""></a>
      </li>
   </ul>
</div>