<section class="reviews-section section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>

    <ul class="reviews-list">
      <li class="reviews-list-item">
        <div class="reviews-person-container">
          <img
            class="reviews-person-img"
            src="./img/reviews/user-man.jpg"
            alt="Abraham Baker photo"
            width="56"
            height="56"
          />

          <div class="reviews-person-about">
            <h3 class="reviews-person-name">Abraham Baker</h3>
            <p class="reviews-person-subtitle">Student</p>
          </div>
        </div>
        <p class="reviews-text">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>

        <div class="reviews-stars">
          <svg height="20" width="20">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
          <svg height="20" width="20">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
          <svg height="20" width="20">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
          <svg height="20" width="20">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
          <svg height="20" width="20">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
        </div>
      </li>
      <li class="reviews-list-item">
        <div class="reviews-person-container">
          <img
            class="reviews-person-img"
            src="./img/reviews/user-woman.jpg"
            alt="Amanda Lowery photo"
            width="56"
            height="56"
          />

          <div class="reviews-person-about">
            <h3 class="reviews-person-name">Amanda Lowery</h3>
            <p class="reviews-person-subtitle">Student</p>
          </div>
        </div>
        <p class="reviews-text">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
        <div class="reviews-stars">
          <svg height="20" width="20">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
          <svg height="20" width="20">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
          <svg height="20" width="20">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
          <svg height="20" width="20">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
          <svg height="20" width="20">
            <use href="./img/icons.svg#icon-star"></use>
          </svg>
        </div>
      </li>
      <!-- Swiper pagination -->
      <li>
        <div class="swiper-pagination"></div>
      </li>
    </ul>

    <!-- Mobile swiper -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="reviews-list-item">
            <div class="reviews-person-container">
              <img
                class="reviews-person-img"
                src="./img/reviews/user-man.jpg"
                alt="Abraham Baker photo"
                width="56"
                height="56"
              />

              <div class="reviews-person-about">
                <h3 class="reviews-person-name">Abraham Baker</h3>
                <p class="reviews-person-subtitle">Student</p>
              </div>
            </div>
            <p class="reviews-text">
              I am very pleased that I decided to enroll in photography school.
              The teachers turned out to be very talented and experienced
              professionals who share their knowledge and are dedicated to their
              work. I was able to expand my skills and discover my own style.
            </p>

            <div class="reviews-stars">
              <svg height="20" width="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
              <svg height="20" width="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
              <svg height="20" width="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
              <svg height="20" width="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
              <svg height="20" width="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-list-item">
            <div class="reviews-person-container">
              <img
                class="reviews-person-img"
                src="./img/reviews/user-woman.jpg"
                alt="Amanda Lowery photo"
                width="56"
                height="56"
              />

              <div class="reviews-person-about">
                <h3 class="reviews-person-name">Amanda Lowery</h3>
                <p class="reviews-person-subtitle">Student</p>
              </div>
            </div>
            <p class="reviews-text">
              The courses at the photography school exceeded all my
              expectations. I gained not only technical knowledge, but also
              inspiration and motivation to reach new heights in my creativity.
              Hands-on classes and workshops helped me understand different
              styles of photography.
            </p>
            <div class="reviews-stars">
              <svg height="20" width="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
              <svg height="20" width="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
              <svg height="20" width="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
              <svg height="20" width="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
              <svg height="20" width="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
