/*About Us section*/

.about-us .section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}

@media only screen and (min-width: 768px) {
  .about-us .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1280px) {
  .about-us .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.about {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .about {
    gap: 50px;
  }
}
.title-about {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.title-us {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  color: #bea69e;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
img {
  display: block;
  max-width: 100%;
}
.pic-photograph {
  max-width: 209px;
  max-height: 335px;
  transform: rotate(-90deg);
  border-radius: 1000px;
  background: url(../img/about/about-mobi.png);
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  .title-about {
    font-size: 48px;
    line-height: 1.13;
  }
  .title-us {
    color: #bea69e;
  }
}
.text-about-us {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--white);
  max-width: 335px;
}
.text-about {
  max-width: 335px;
  max-height: 143px;
}
@media only screen and (min-width: 768px) {
  .text-about-us {
    font-size: 16px;
    line-height: 1.25;
    color: #ffffff;
    max-width: 280px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }
  .text-about {
    max-height: 215px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .text-about-us {
    max-width: 268px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  .text-about {
    max-width: 264px;
    max-height: 215px;
  }
}
@media only screen and (min-width: 1440px) {
  .text-about-us {
    max-width: 330px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }
  .text-about {
    max-width: 276px;
    max-height: 215px;
  }
}
