/*About Us section*/
.section-about .container {
  max-width: 335px;
}
.section-about {
  padding-top: 80px;
}
.about-us-title {
  margin-bottom: 40px;
}
.about-content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.about-text-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media only screen and (min-width: 768px) {
  .section-about {
    padding-top: 100px;
  }
  .section-about .container {
    max-width: 704px;
  }
  .about-us-title {
    margin-bottom: 50px;
  }
  .about-text-container {
    flex-direction: row;
    column-gap: 40px;
  }
  .about-text-container .text {
    max-width: 280px;
  }
}
@media only screen and (min-width: 1280px) {
  .section-about {
    padding-top: 150px;
  }
  .section-about .container {
    max-width: 1080px;
  }
  .about-content {
    width: 100%;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
  }
  .about-text-container {
    column-gap: 20px;
  }
  .about-text-container .text {
    max-width: 268px;
  }
}
@media only screen and (min-width: 1440px) {
  .section-about .container {
    max-width: 1240px;
  }
  .about-content {
    column-gap: 50px;
  }
  .about-text-container {
    column-gap: 40px;
  }
  .about-text-container .text {
    max-width: 330px;
  }
}
