/*About Us section*/

.about .section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}

@media only screen and (min-width: 768px) {
  .about .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1280px) {
  .about .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
.section-about {
  display: block;
  margin-top: 80px;
}
.about-section-title {
  margin: 40px;
  align-items: flex-start;
}
.section-about-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media screen and (min-width: 767.98px) {
  .section-about-container {
    display: flex;
    gap: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .section-about-container {
    gap: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

@media only screen and (min-width: 1280px) {
  .section-about-container {
    display: flex;
    justify-content: space-between;
  }
}
.about-section-title {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.title-about {
  display: flex;
  gap: 10px;
}

.about-section-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 767.98px) {
  .about-section-wrapper {
    justify-content: center;
  }
}
@media only screen and (min-width: 1280px) {
  .about-section-wrapper {
    display: flex;
    align-items: flex-start;
  }
}
.about-section-image {
  max-width: 100%;
  border-radius: 1000px;
  background: url(../img/about/about-mobi.png);
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .about-section-image {
    background: url(../img/about/about-mobi@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .about-section-image {
    max-width: 340px;
    background-size: cover;
    background-position: center;
    background: url(../img/about/about-tablet.png);
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .about-section-image {
    background: url(../img/about/about-tablet@2x.png);
  }
}
@media only screen and (min-width: 1280px) {
  .about-section-image {
    max-width: 100%;
    background-size: cover;
    background: url(../img/about/about-min.png);
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .about-section-image {
    background: url(../img/about/about-min@2x.png);
  }
}
@media only screen and (min-width: 1440px) {
  .about-section-image {
    background: url(../img/about/about.png);
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .about-section-image {
    background: url(../img/about/about@2x.png);
  }
}

.text-about-us {
  max-width: 335px;
  display: flex;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .text-about-us {
    display: flex;
    gap: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .text-about-us {
    display: flex;
    gap: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .text-about-us {
    display: flex;
    gap: 40px;
  }
}
