.header-nav {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  height: 50px;
  margin-top: 20px;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}
.header-logo-link {
  height: 16px;
}
.header-nav-list {
  display: flex;
  gap: 28px;
}
.header-button-container {
  display: flex;
  gap: 14px;
}
.header-nav-button {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
}
.header-singup-link {
  background-color: var(--black-light);
  display: block;
  height: 32px;
  width: 32px;
  padding: 8px;
  border-radius: 50%;
  transition: background-color var(--animation), color var(--animation);
}
.header-singup-icon {
  fill: var(--brown);
  fill-opacity: 0.4;
  transition: fill-opacity var(--animation);
}
.header-singup-link:active .header-singup-icon {
  fill-opacity: 1;
}
.header-singup-link:active {
  background-color: var(--black-light);
  color: var(--brown);
}
@media (hover: hover) {
  .header-singup-link:hover .header-singup-icon,
  .header-singup-link:focus .header-singup-icon {
    fill-opacity: 1;
  }
  .header-singup-link:hover,
  .header-singup-link:focus {
    background-color: var(--black-light);
    color: var(--brown);
  }
}
@media (max-width: 767px) {
  .header-singup-title {
    display: none;
  }
}
@media (min-width: 768px) {
  .header-nav {
    height: 60px;
    margin-right: 200px;
    position: relative;
  }
  .header-singup-icon {
    display: none;
  }
  .header-singup-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: -201px;
    border-radius: 12px;
    background-color: var(--white);
    width: 186px;
    height: 60px;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black);
  }

  .header-singup-title {
    color: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .header-nav-icon {
    width: 40px;
    height: 28px;
  }
}
@media (max-width: 1279px) {
  .header-nav-list {
    display: none;
  }
}
@media (min-width: 1280px) {
  .header-nav {
    padding: 0 50px;
    margin-right: 258px;
  }
  .header-nav-button {
    display: none;
  }
  .header-singup-link {
    width: 238px;
    right: -260px;
  }
}
@media (min-width: 1440px) {
  .header-nav-list {
    gap: 40px;
  }
}
