.hero {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 80px;
  background-image: url(../img/hero/background-mob.png);
}
@media only screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero/background-mob@2x.png);
  }
}
.hero .container {
  border-radius: 30px;
  background-color: var(--black-light);
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  min-width: 280px;
}
/* ============================================ */
/*================ HERO-TITLE ================= */
.hero-title {
  max-width: 320px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: var(--white);
  margin-bottom: 20px;
}
.accent-hero {
  color: var(--brown);
  font-style: italic;
}
/* ===================================================== */
/* =========  UnderTitle Text ========================== */
.hero-text {
  max-width: 295px;
  color: var(--white);
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* ===================================================== */
/* =========== HERO REVIEWS ============================== */
.hero-reviews-list {
  display: flex;
  align-items: center;
}
.hero-reviews-item:last-child {
  z-index: 0;
}
.hero-reviews-item:nth-child(2) {
  margin-right: -12px;
  margin-left: -12px;
  z-index: 1;
}
.hero-reviews-item:first-child {
  z-index: 2;
}
.hero-reviews-text-two,
.hero-reviews-text-one,
.hero-reviews-text {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.04em;
}
.hero-reviews-text {
  transition: color var(--animation);
  width: 67px;
  margin-top: 4px;
}

.hero-reviews-text-one {
  margin-bottom: 4px;
  color: rgba(255, 255, 255, 0.5);
}
.hero-reviews {
  max-width: 251px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 31px;
}
.arrow-icon {
  fill: var(--white);
  transition: fill var(--animation), transform var(--animation);
}
@media (hover: hover) {
  .hero-review-link:hover .arrow-icon,
  .hero-review-link:focus .arrow-icon {
    fill: var(--brown);
    transform: scale(1.6);
  }
  .hero-review-link:hover .hero-reviews-text,
  .hero-review-link:focus .hero-reviews-text {
    color: var(--brown);
  }
}
.hero-review-link {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
/* ================================================ */
/*==================== ICON-STAR BOX ============== */
.icon-star-cont {
  width: 44px;
  height: 44px;
  background-color: var(--brown);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.star-icon {
  fill: var(--brown);
  stroke: var(--black-light);
}
.sub-review-text-cont {
  margin-left: 12px;
}
/* =============================================== */
/* ================  HERO IMAGE ====================== */
.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: end;
}
/* ======================================================= */
/*==================== FOR TABLETS FROM 768PX  ============*/
@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 100px;
    background-image: url(../img/hero/background-tablet.png);
  }
  .hero .container {
    padding: 64px 155px 0 32px;
    max-width: 704px;
  }
  .hero-title {
    font-size: 60px;
    line-height: 1.07;
    letter-spacing: -0.04em;
    max-width: 517px;
    padding-right: 20px;
  }
  .hero-text {
    max-width: 418px;
  }
  /*========== HERO REVIEW BOX =============*/
  .hero-review-image {
    width: 54px;
    height: 54px;
  }
  .hero-reviews-container {
    display: flex;
  }
  .hero-reviews {
    max-width: 388px;
    align-items: center;
  }
  .hero-review-link {
    flex-direction: column;
    row-gap: 8px;
    align-items: flex-start;
    margin-left: 12px;
  }
  .hero-reviews-text {
    width: 82px;
    font-size: 16px;
  }

  .icon-star-cont {
    width: 50px;
    height: 50px;
  }
  .hero-reviews-text-one {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .hero-reviews-text-two {
    font-size: 16px;
    font-weight: 500;
  }
  /* ============================================= */
  /* ================== HERO IMAGE  ============= */
  .hero-image-container {
    justify-content: flex-end;
  }
  .hero-image {
    width: 393px;
  }
}
@media only screen and (max-width: 1279px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero/background-tablet@2x.png);
  }
}
/* ============================================================================== */
/*================ FOR DESKTOP 1280PX TILL 1440PX  ==============================*/
@media only screen and (min-width: 1280px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 150px;
    background-image: url(../img/hero/background-desktop.png);
  }

  .hero .container {
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .hero-title {
    max-width: 563px;
    padding-right: 25px;
    font-size: 64px;
    line-height: 1.06;
  }
  .hero-text {
    margin-bottom: 136px;
  }

  .hero-image {
    width: 397px;
    margin: 0;
  }
}
@media only screen and (max-width: 1439px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero/background-desktop@2x.png);
  }
}
/* ========================================================================= */
/*=========================== FOR DESKTOP MORE THAN 1440PX  =================*/
@media only screen and (min-width: 1440px) {
  .hero {
    background-image: url(../img/hero/background-max.png);
  }
  .hero .container {
    max-width: 1240px;
    padding-right: 100px;
  }
}
@media only screen and (min-width: 1440px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero/background-max@2x.png);
  }
}
