/* ======mentors-section=============== */
.mentors-section-title {
  margin-bottom: 40px;
}

.mentors-section-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 40px 93px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.mentors-item-pic {
  max-width: 180px;
}

.mentors-section-item {
  min-width: 185px;
}

.mentors-section-item:nth-child(3) {
  min-width: 194px;
}

@media only screen and (min-width: 768px) {
  .mentors-section-title {
    margin-bottom: 50px;
  }

  .mentors-section-list {
    max-width: 474px;
    gap: 93px 100px;
  }

  .mentors-section-item {
    max-width: 180px;
    min-width: 180px;
  }
}

@media only screen and (min-width: 1280px) {
  .container.our-mentors {
    max-width: 1079px;
    padding: 0;
  }
  .mentors-section-list {
    max-width: 1079px;
    gap: 93px;
    padding-left: 33px;
    padding-right: 33px;
  }

  .mentors-section-item {
    max-width: 180px;
  }
}

@media only screen and (min-width: 1440px) {
  .container.our-mentors {
    max-width: 1189px;
  }

  .mentors-section-title {
    margin-bottom: 50px;
  }

  .mentors-section-list {
    max-width: 1189px;
    padding-left: 84px;
    padding-right: 32px;
    gap: 113px;
    margin: 0;
  }

  .mentors-section-item {
    max-width: 180px;
  }
}

.mentor-img {
  border-radius: 200px;
  background-color: #e0e0e0;
  margin: 0 auto 16px;
}

.mentor-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 4px;
}

.mentor-experience {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .mentor-name {
    font-size: 28px;
    line-height: 1.14;
  }

  .mentor-experience {
    font-size: 14px;
    line-height: 1.29;
  }
}
