.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
   width: 100%;
   height: 100%;
   background-color: rgba(18, 18, 18, 0.4);
   visibility: visible;
   opacity: 1;
   transition: visibility var(--animation), opacity var(--animation);
}

.is-hidden {
   pointer-events: none;
   visibility: hidden;
   opacity: 0;
}

/*
  |============================
  | Mobile-menu
  |============================
*/
.mobile-menu {
   margin-left: auto;
   width: 218px;
   height: 100vh;
   z-index: 1000;
   background-color: #bea69e;


   padding: 20px;
   overflow: auto;
   background-image: url('../img/mobile-menu/mob-menu-bg_mob.jpg');

   background-position: bottom;
   background-repeat: no-repeat;
   background-size: contain;
}

@media (max-height: 639.98px) and (max-width: 767.98px) {
   .mobile-menu {
      background-image: linear-gradient(to bottom, #bea69e, rgba(37, 37, 37, 0.7)),
         url('./img/mobile-menu/mob-menu-bg_mob.jpg');
   }
}

/*
  |============================

  | 
  |============================
*/
@media only screen and (-webkit-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
   .mobile-menu {
      background-image: url('../img/mobile-menu/mob-menu-bg_mob@2x.jpg');
   }
}

@media only screen and (max-width: 767.98px) and (max-height: 639.98px) and (-webkit-device-pixel-ratio: 2),
only screen and (max-width: 767.98px) and (max-height: 639.98px) and (min-resolution: 192dpi),
only screen and (max-width: 767.98px) and (max-height: 639.98px) and (min-resolution: 2dppx) {
   .mobile-menu {
      background-image: linear-gradient(to bottom, #bea69e, rgba(37, 37, 37, 0.7)),
         url('../img/mobile-menu/mob-menu-bg_mob@2x.jpg');
   }
}

/*
  |============================
  | tab 1x
  |============================
/
@media only screen and (min-width: 768px) {
  .mobile-menu {
    background-image: url('../img/mobile-menu/mob-menu-bg_tab.jpg');
  }
}
@media only screen and (max-height: 899.98px) and (min-width: 768px) {
  .mobile-menu {
    background-image: linear-gradient(to bottom, #bea69e, rgba(37, 37, 37, 0.7)),
      url('../img/mobile-menu/mob-menu-bg_tab.jpg');
  }
}
/
  |============================
  | tab 2x
  |============================
*/
@media only screen and (-webkit-device-pixel-ratio: 2) and (min-width: 768px),
only screen and (min-resolution: 192dpi) and (min-width: 768px),
only screen and(min-resolution: 2dppx) and (min-width: 768px) {
   .mobile-menu {
      background-image: url('../img/mobile-menu/mob-menu-bg_tab@2x.jpg');
   }
}

@media only screen and (min-width: 768px) and (max-height: 899.98px) and (-webkit-device-pixel-ratio: 2),
only screen and (min-width: 768px) and (max-height: 899.98px) and (min-resolution: 192dpi),
only screen and (min-width: 768px) and (max-height: 899.98px) and (min-resolution: 2dppx) {
   .mobile-menu {
      background-image: linear-gradient(to bottom, #bea69e, rgba(37, 37, 37, 0.7)),
         url('../img/mobile-menu/mob-menu-bg_tab@2x.jpg');
   }
}

@media only screen and (min-width: 768px) {
   .mobile-menu {
      width: 480px;
      padding: 20px 32px 0 64px;
   }
}

.mobile-menu.is-open {
   transform: translateX(0%);
}



/*
  |============================
  | button
  |============================
*/

.close-button {
   width: 32px;
   height: 32px;
   display: flex;
   align-items: center;
   justify-content: center;

   background-color: transparent;
   margin-bottom: 128px;
   margin-left: auto;
}

@media only screen and (min-width: 768px) {
   .close-button {
      margin-bottom: 172px;
      width: 40px;
      height: 40px;
   }
}

.menu-close-icon {
   stroke: var(--black);
   width: 32px;
   height: 32px;


   display: block;

}

@media only screen and (min-width: 768px) {
   .menu-close-icon {
      width: 40px;
      height: 40px;
   }
}



/*
  |============================
  | menu-list
  |============================
*/

.mobile-menu-list {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
}

.mob-menu-link {
   color: var(--black);
}

.mob-menu-link:focus {
   font-weight: 700;
   color: var(--black);
}

@media only screen and (min-width: 768px) {
   .mobile-menu-list {
      gap: 28px;
   }
}

@media only screen and (min-width: 1280px) {
   .backdrop {
      display: none;
   }
}